@font-face {
    src: url(fonts/Agrandir-GrandHeavy.ttf);
    font-family:'agrandir';
}
    @font-face {
        src: url(fonts/Kollektif.ttf);
        font-family:'kollektif';
    }

*{
    margin: 0;
    padding: 0;
    font-family: 'agrandir';
    box-sizing: border-box;
}

    

body {
    background: #fffdf6;
    color: #004aad;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/imgbg1.png);
    background-size: cover;
    background-position: center;

}
.container{
    padding: 10px 10%;


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(7, 45, 167);
    text-decoration:none;
    font-size: 18px;
    font-family:'agrandir';
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #080808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* --------------about----------- */
#about{
    padding: 80px;
    color:#004aad;

}

.center{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h2{
    font-family:'kollektif';
    color: #545454;
}

